@import 'tailwindcss';

body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--background);
}

@layer base {
	:root {
		--background: #101111;
		--gradient-1: #7a87fa;
		--gradient-2: #fed39c;
	}
}

@layer base {
	body {
		@apply bg-[var(--background)];
		@apply text-white;
	}
}
